.vscode
*.py[co]
*.sw[po]
*.egg*
*.rdb
.idea/
.coverage
pip-log.txt
docs/_gh-pages
build/
build.py
build
dist/
.DS_Store
.noseids
tmp/*
*.swp
*~
*.log.*
*.log
*.db
db/
test_db/
.vagrant
*.sublime-project
*.sublime-workspace
.idea/*
whoosh_index/*
.templates/
.templates
CACHE
CACHE/*
togit.sh
htmlcov/
setup.sql
